* {
  font: normal 1em/1.5em Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

html {
  min-height: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  #app > header {
    font-family: Helvetica, Arial, sans-serif;
    background: #000;
    color: #FFF;
    padding: 1em; }
    #app > header a {
      color: #FFF;
      text-decoration: none; }
    #app > header a#home {
      display: block; }
      #app > header a#home h1 {
        font-size: 1.6em;
        line-height: 1em;
        margin: 0; }
      #app > header a#home svg#logo {
        float: left;
        margin-right: 1em;
        height: 40px; }
        #app > header a#home svg#logo g path {
          fill: #FFF;
          stroke: none; }
        #app > header a#home svg#logo g:hover path {
          fill: #069; }
    #app > header nav#primary {
      display: block; }
      #app > header nav#primary li {
        display: inline-block; }
        #app > header nav#primary li a {
          display: block;
          padding: 1em; }
        #app > header nav#primary li ul {
          display: none; }
    #app > header form#search {
      background: #069; }
      #app > header form#search fieldset {
        border: 0; }
        #app > header form#search fieldset label[for=q] {
          display: block;
          font-weight: bold;
          margin: 1em 0 0.5em 0; }
        #app > header form#search fieldset input[name=q] {
          font-size: 1.6em;
          padding: 0.25em 0.5em; }
  #app > main {
    font: 1em/1.4em Helvetica, Arial, sans-serif;
    margin: 1em;
    width: 60em; }
    #app > main p {
      margin: 0 0 1.6em 0; }
  #app > footer {
    background: #000;
    color: #FFF; }
    #app > footer h1 {
      padding: 1em; }
    #app > footer ul li {
      display: inline-block;
      padding: 1em; }
