* {
  font: normal 1em/1.5em Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

html {
  min-height: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  #app > header {
    background: #14743D;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em; }
    #app > header a {
      color: #FFF;
      text-decoration: none; }
    #app > header h1 {
      order: 2;
      font-size: 1.4em;
      line-height: 1em; }
    #app > header svg#logo {
      order: 1;
      margin-right: 1em;
      height: 40px; }
      #app > header svg#logo g path {
        fill: #FFF;
        stroke: none; }
      #app > header svg#logo g:hover path {
        fill: #069; }
    #app > header nav#primary {
      order: 4; }
      #app > header nav#primary li {
        display: inline-block; }
        #app > header nav#primary li a {
          display: block;
          padding: 1em; }
        #app > header nav#primary li ul {
          background: #444;
          display: none;
          position: absolute; }
        #app > header nav#primary li:hover ul {
          display: block; }
          #app > header nav#primary li:hover ul li {
            display: block; }
    #app > header input[name=q] {
      order: 3;
      flex: 2;
      font-size: 1.6em;
      padding: 0.25em 0.5em;
      margin: 0 1em; }
  #app > main {
    font: 1em/1.4em Helvetica, Arial, sans-serif;
    margin: 1em; }
    #app > main h1 {
      font-size: 1.6em; }
    #app > main p {
      margin: 0 0 1.6em 0; }
  #app > footer {
    background: #000;
    color: #FFF; }
    #app > footer h1 {
      padding: 1em; }
    #app > footer ul li {
      display: inline-block;
      padding: 1em; }

#home #collections {
  display: flex; }
  #home #collections .collection {
    background: #DDD;
    margin: 0.5em;
    padding: 1em; }
    #home #collections .collection h2 {
      font-size: 1.4em; }
